/* Define transition for the selected card */
.selected-card {
  /* Add your styles for the selected card */
  transition: transform 0.5s ease-in-out; /* You can adjust the animation duration */
}

/* Define styles to hide unselected cards */
.unselected-card {
  display: none;
}

.selected-form {
  animation: slide-left 0.5s ease-in-out;
  width: 16.6667%;
  float: left;
}

.hidden-form {
  display: none;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
